.card {
    border: 1px solid #f8f8f8;
    padding: 20px;
    width: 210px;
    border-radius: 40px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    img {
        display: block;
        margin: 0 auto;
    }
    .favorite {
        cursor: pointer;
    }
    .add_btn {
        cursor: pointer;
    }
    &:hover {
        box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
        transform: translateY(-5px);
    }
    .add_btn:hover {
        svg {
            rect {
                fill: azure;
            }
        }
    }

    .favorite:hover {
        svg {
            rect {
                stroke: rgb(249, 200, 200);
            }
        }
    }
}
