body {
    margin: 0;
    font-family: "Inter", system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: azure;
}

* {
    font-family: "Inter", system-ui;
}

.wrapper {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
}

header {
    border-bottom: 1px solid #eaeaea;
    padding: 40px;
    img {
        margin-right: 15px;
    }
    h3,
    p {
        margin: 0;
    }
    .cart_image {
        cursor: pointer;
    }
}

.content {
    .search-block {
        border: 1px solid #f3f3f3;
        border-radius: 10px;
        padding: 0 15px;
        input {
            border: none;
            padding: 13px;
            font-size: 16px;
            width: 200px;
        }
        img {
            cursor: pointer;
        }
    }
    h1 {
        margin: 0;
    }
    h5 {
        font-weight: 500;
        font-size: 14px;
    }
    span {
        opacity: 0.5;
    }
}

.cart_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    .cart {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 30px;
        width: 400px;
        height: 100%;
        background: #ffffff;
        right: 0;

        &_item {
            height: 110px;
            padding: 15px;
            margin-top: 20px;
            border: 1px solid rgb(246, 245, 245);
            font-size: 14px;
            border-radius: 20px;
            overflow: hidden;
        }
        .cart_items_wrapper {
            flex: 1;
            overflow: auto;
            margin-bottom: 40px;
        }
        .btn_remove {
            display: block;
            margin-left: 30px;
            opacity: 0.5;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }
    .total_wrapper {
        ul {
            margin-bottom: 30px;
        }
        button {
            position: relative;
            display: block;
            margin: 10px auto;
            width: 90%;
            height: 50px;
            border-style: none;
            border-radius: 20px;
            color: white;
            background-color: #9dd558;
            font-size: 16px;
            font-weight: 500;
            transition: background 0.1s ease-in-out;
            cursor: pointer;
            &:hover {
                background: lighten($color: #9dd558, $amount: 10%);
                .btn_arrow {
                    transform: translateX(10px);
                }
            }
            &:active {
                background: darken($color: #9dd558, $amount: 10%);
            }
            .btn_arrow {
                position: absolute;
                right: 30px;
                bottom: 17px;
                transition: transform 0.4s ease-in-out;
            }
        }
        div {
            flex: auto;
            height: 1px;
            border-bottom: 1px dashed black;
            position: relative;
            top: 15px;
            margin: 0 6px;
        }
    }
}

h2 {
    margin: 0;
}
